@import "reset";

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: url('http://subtlepatterns.com/patterns/geometry2.png');
}

a {
  text-decoration: none;
}

a,
button {
  opacity:1;
  transition: opacity .1s ease-in-out;
}

a:hover,
button:hover {
  opacity: .8;
}

button,
input {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* for Firefox */
  background: none;
}

button,
input[type="file"] {
  border: 0;
  cursor: pointer;
}

input:focus,
[contenteditable="true"]:focus,
textarea:focus {
  outline: 0;
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

h2[contenteditable="true"]:focus {
  padding: 3px;
  background: #fff;
  text-overflow: clip;
}
h2[contenteditable="true"] * {
  display:inline;
  white-space:nowrap;
}
h2[contenteditable="true"] br {
  display:none;
}

input[type="file"]:focus {
  box-shadow: none;
}

/* Contenteditable attribute */
div[contenteditable="true"] {
  white-space: pre-wrap;
}
div[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  line-height: 32px;
  color: #aaa;
}
div[contenteditable="true"]:focus:empty:before {
  content: "";
}

/* Placeholder */
input[type="search"]::-webkit-input-placeholder {text-align: center; vertical-align: top;}
input[type="search"]::-moz-placeholder          {text-align: center; background: image-url('icon-search.svg') no-repeat 37% center;}
input[type="search"]:-ms-input-placeholder      {text-align: center; background: image-url('icon-search.svg') no-repeat 37% center;}

input[type="search"]::-webkit-input-placeholder:before {
  content: image-url('icon-search.svg');
  position: relative;
  margin-right: 7px;
}

input::-webkit-input-placeholder       {transition: all 0.2s ease;}
input::-moz-placeholder                {transition: all 0.2s ease;}
input:-ms-input-placeholder            {transition: all 0.2s ease;}

input:focus::-webkit-input-placeholder {transition: all 0.2s ease; line-height: 100px;}
input:focus::-moz-placeholder          {transition: all 0.2s ease; line-height: 100px; background-position: 37% 100px;}
input:focus:-ms-input-placeholder      {transition: all 0.2s ease; line-height: 100px; background-position: 37% 100px;}

/* Search cancel button */
input[type="search"]::-webkit-search-cancel-button {
  margin: -6px 4px 0;
  -webkit-appearance: none;
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button:after {
  content: "\00d7";
  font-size: 24px;
  color: #bebebe;
  vertical-align: middle;
}
