@font-face{
  font-family: 'SegoePrint';
  src: url('/font/SegoePrint.ttf');
}  

/* Custom Reset CSS based on Eric Meyer's style
----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  font-family: SegoePrint !important;
}
nav, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button, input, select, textarea {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
}
button::-moz-focus-inner {
  border: 0;
}
a {
  outline: 0;
}
* {
  box-sizing: border-box;
}
