/* spinner */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}
  .spinner-dot1,
  .spinner-dot2 {
    width: 70%;
    height: 70%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #20BDB2;
    border-radius: 100%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }
  .spinner-dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.0);
  } 50% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
  } 50% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* spinner bounce */
.spinner_bounce {
  margin: 10px auto;
  width: 70px;
  text-align: center;
}
.spinner_bounce_changepass {
  margin: auto;
  position: relative;
  top: 25px;
}
  .spinner_bounce > div {
    width: 14px;
    height: 14px;
    background-color: #20BDB2;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .spinner_bounce-bounce1 {
    -webkit-animation-delay: -0.32s !important;
    animation-delay: -0.32s !important;
  }
  .spinner_bounce-bounce2 {
    -webkit-animation-delay: -0.16s !important;
    animation-delay: -0.16s !important;
  }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.0)
  } 40% {
    -webkit-transform: scale(1.0)
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);    
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);    
  }
}
